@font-family: 'Work Sans', sans-serif;
@code-family: 'IBM Plex Mono', Menlo, Courier, monospace;
@font-weight-light: 300;
@font-weight-normal: 400;

@font-letter-spacing: 0.02rem;

@color-red: crimson;
@color-orange: #e1ac41;

@margin-size: 1rem;

@form-item-margin-bottom: 0.6rem;

@shadow-light-inset: inset 0px 0px 5px -3px rgba(0, 0, 0, 0.55);
@shadow-light: 0px 0px 5px -3px rgba(0, 0, 0, 0.55);


.ant-page-header-breadcrumb {
  padding-bottom: @margin-size;
  margin-bottom: @margin-size;
  border-bottom: solid 1px #ccc;
}

.ant-btn, button, .ant-menu-item {
  box-shadow: none !important;
  letter-spacing: @font-letter-spacing !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  //font-family: @font-family;
  margin: 0;
  height: 100%;
  letter-spacing: @font-letter-spacing;
}

h1, h2, h3 {
  font-weight: @font-weight-light;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-weight: 200 !important;
  font-size: 2.5rem;
}

pre, code {
  font-family: @code-family;
  font-size: 1.1rem;
}

#root {
  height: 100%;

  > div.ant-pro-layout {
    height: 100%;
  }
}

.debug {
  background-color: rgba(184, 155, 181, 0.1) !important;
  border: dashed 1px rgba(184, 155, 181);
}

.red {
  color: crimson;
}

.ant-pro-sider-logo h1 {
  font-weight: 300 !important;
}

.chat {
  height: 100% !important;

  div.ant-pro-card-col:nth-of-type(1) {
    flex: 1;
    display: flex;
    flex-direction: column;

    .chat-messages {
      flex: 1;

      .ant-pro-card-body {
        flex: 1;
      }
    }
  }

  .ant-form-inline {
    display: flex;

    > div:nth-of-type(1) {
      flex: 1;
      background-color: #6d519d;
    }
  }
}

.h-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.v-box {
  display: flex;
  flex-direction: column;
}

.mt {
  margin-top: @margin-size;
}

.mb {
  margin-bottom: @margin-size;
}

.ml {
  margin-left: @margin-size;
}

.mr {
  margin-right: @margin-size;
}

.pt {
  padding-top: @margin-size;
}

.pt-xxl {
  padding-top: @margin-size*3;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.transparent {
  background-color: transparent;
}

.shadow {
  box-shadow: @shadow-light;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.ant-page-header-heading-title {
  font-weight: @font-weight-light !important;
}

.ant-menu *,
.ant-menu-item * {
  transition: none !important;
}

.page-login {
  height: 100%;
  background-image: url("/img/bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  .ant-layout {
    height: 100%;
    background-color: transparent;

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .login-box {
      min-width: 22rem;
      min-height: 22rem;
      padding: 2rem;
      border: solid 4px #fff;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.75);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .ant-layout-header {
    background-color: transparent;
    color: #fff;
  }
}


//File Thumbnails
.file-thumbnail {
  aspect-ratio: 4/3;
  max-width: 120px;
  background-color: #efefef;
  border: solid 1px #ccc;
}