@import "~antd/dist/antd.less";
@import (css) url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:300,400&display=swap');

@font-family: 'Work Sans', sans-serif;
@code-family: 'IBM Plex Mono', Menlo, Courier, monospace;
@font-weight-light: 300;
@font-weight-normal: 400;

@color-red: crimson;
@color-orange: #e1ac41;

@margin-size: 1ch;

@form-item-margin-bottom: 0.6rem;

html {
  font-family: @font-family;
}

h1, h2, h3 {
  font-weight: @font-weight-light;
}

#root {
  height: 100vh;
}

.ant-pro-sider-logo h1 {
  font-weight: 300 !important;
}